//brakpoints
$bp-medium: 700px;
$bp-large_medium: 900px;
$bp-large: 1000px;

//colors
$c-font: #09090b;
$c-background: #FFFFFF;
$c-menuBackground: #000000;
$c-pink: rgb(252, 102, 177);
$c-hover: $c-pink;
$c-cardColor: #f3f1f1;
$c-female: #f807d3;
$c-male: #1227e4;
$c-present: #0FFF50;
$c-notPresent: #FF3131;
$c-buttonColor: $c-pink;

//margins
$mg-small: 5px;
$mg-medium: 10px;
$mg-large: 20px;

//border radius
$br-normal: 10px;
