.header{
    display: flex;
    background-color: hotpink;
    padding: 15px;
    @media screen and (min-width: 600px) {
        padding: 30px; 
    }
}

.logo{
    width: 100px;
    height: 68px;
    @media screen and (min-width: 600px) {
        width: 200px;
        height: 136px;
    }
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 30px;
    margin-left: 20px;
    @media screen and (min-width: 600px) {
        font-size: 4em;
    }
}