@import '/src/styles/variables.scss';

.header{
    height: 200px;
    display: flex;
    background-color: $c-pink;
    padding: 15px;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (min-width: $bp-medium) {
        height: 250px;
        padding: 30px; 
    }
}

.logo{
    width: 400px;
    height: 200px;
    
    @media screen and (min-width: $bp-medium) {
        width: 550px;
        height: 300px;  
    }

    @media screen and (min-width: $bp-large_medium) {
        width: 750px;
        height: 350px;  
    }
}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    padding: 30px;
    margin-left: 20px;
    @media screen and (min-width: $bp-medium) {
        font-size: 3.5em;
    }
}