@import '/src/styles/variables.scss';

.dialog{
    margin: auto;
    border-radius: 20px;
    background-color: $c-cardColor;
    padding: 20px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}
.dialogContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 3em;
    color: black;
    text-align: center;
}

.okButton{
    background-color: $c-buttonColor;
    color: white;
    font-size: 30px;
    width: 80px;
    height: 60px;
    border-radius: 10px;
}