.dialog{
    position:fixed;
    top: 10%;
    left:40%;
    translate: x-50 y-50;
    border-radius: 20px;
    background-color: #2d3748;
    display: flex;
}

.okButton{
    background-color: blue;
    color: white;
    font-size: 20px;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    justify-self: center;
}