@import '/src/styles/variables.scss';

.container{
    display: flex;
    height: 30vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: $br-normal;
    margin-bottom: 20px;
}

.loginContainer{
    background-color: white;
    margin: auto;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: $br-normal;

}
.loginForm{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.label{
    font-size: 1.2em;
}

.userName, .password{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.signinButton{
    background-color: $c-buttonColor;
    border-radius: $br-normal;
    padding: 10px;
    color: white;
    font-size: 1.2em;
}