@import '/src/styles/variables.scss';



.loginContainer{
    background-color: white;
    margin: auto;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: $br-normal;

}
.loginForm{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.label{
    font-size: 1.2em;
}

.userName, .password{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.signinButton{
    background-color: $c-buttonColor;
    border-radius: $br-normal;
    padding: 10px;
    color: white;
    font-size: 1.2em;
    margin-top: 15px;
}