@import '/src/styles/variables.scss';

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        );
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $c-cardColor;
    margin: $mg-large;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: $br-normal;
    width: 300px;
}

.dogName{
    font-size: 3em;
    font-weight: 800;
    margin: 5px;
    text-transform: uppercase;
}

.dogBreed::first-letter{
    text-transform: uppercase;
}

.ownerInfo{
    margin-top: 15px;
}
.ownerName{
    margin-right: 3px;
}
.ownerLastName{
    margin-left: 3px;
}

.dogNameFemale{
    font-size: 2em;
    margin: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px $c-female;
}

.dogNameMale{
    font-size: 2em;
    margin: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px $c-male;
}
.namePresentContainer{
    display:flex;
}

.present {
    background: $c-present;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
}

.notPresent{
    background: $c-notPresent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
}